.contacts {
  background-color: #ffffff;
  padding-bottom: 50px;
}

.contacts__container {
  @include container;
  padding-bottom: 50px;
}

.contacts__title {
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding-top: 55px;
  padding-bottom: 30px;
}

.contacts__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contacts__item {
  width: 220px;
  text-align: left;
  padding-left: 28px;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-image: url("../img/contacts-sprite.png");
  }

  &:first-child::before,
  &:nth-child(3)::before {
    background-position: -10px -52px;
  }

  &:nth-child(2)::before {
    background-position: -10px -10px;
  }

  &:last-child::before {
    background-position: -10px -98px;
  }
}

.contacts__item-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  margin: 0;
}

.contacts__info {
  font-size: 16px;
  margin: 0;
  line-height: 26px;

  &--tel {
    color: inherit;
    font-size: 22px;
    font-weight: bold;
  }

  &--download {
    display: block;
    color: #2c88ce;
    text-decoration: underline;
  }
}

.contacts__map {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-color: #f8f9f9;
  background-size: cover;
  background-position: 0 0;
  min-height: 570px;
  width: 100%;

  @media (min-resolution: $retina-2dpi), (min-resolution: $retina-2dppx) {
    background-image: url("../img/map@2x.jpg");
  }

  @media (min-resolution: $retina-3dpi), (min-resolution: $retina-3dppx) {
    background-image: url("../img/map@3x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-bottom: 75px;
  }

  .contacts__title {
    font-size: 32px;
    line-height: 32px;
    padding-top: 75px;
    padding-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__container {
    @include desktop-width;
    padding-bottom: 50px;
  }

  .contacts__list {
    justify-content: flex-start;
  }

  .contacts__item {
    margin-right: 68px;
    width: auto;
  }

  .contacts__item-title {
    padding-bottom: 15px;
  }

  .contacts__info {
    width: 200px;

    &--tel,
    &--download {
      width: auto;
    }
  }
}
