.sub-nav {
  @include list-reset;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;

  &--active {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.sub-nav__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }
}

.sub-nav__link {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .sub-nav {
    &--active {
      position: absolute;
      top: 20px;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
    }
  }

  .sub-nav__item {
    justify-content: flex-start;
  }
}
