@mixin container {
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

@mixin desktop-width {
  max-width: 1140px;
  min-width: 1140px;
  box-sizing: border-box;
  margin: 0 auto;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
